.venv/
env/
ENV/
venv/
pip-wheel-metadata/

__pycache__/
*.py[cod]
*.log
.cache/
*.sqlite3

build/
dist/
*.egg-info/

.vscode/
*.code-workspace
.history/

static/
*/static/
**/static/

.env
.env.*

.DS_Store
Thumbs.db

*.lock
.idea/
